/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.parallax-container {
  min-height: 580px;
  line-height: 0;
  height: auto;
  color: white;
  text-shadow: 0px 0px 10px rgba(10, 10, 10, 1);
}

.parallax {
  background-color: #000000;
}

.parallax img {
  filter: brightness(80%);
  -webkit-filter: brightness(80%);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.hksa-red {
  background-color: #FF4A2B;
}

.logo {
  height: inherit;
  margin-top: 5px;
}

.brand-logo {
  height: inherit;
}

#index-banner {
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', 'Helvetica Neue', 'Lucida Grande', Arial, Verdana, sans-serif;
}

img.spsr-logo {
  max-height: 200px;
  height: inherit;



